<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='theme-color' content='#000000' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap' rel='stylesheet' />

    <style>

    </style>
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <div class='email-content'>
                        <p>Email Title: <span>Rewards Claimed</span></p>
                        <p>Time: <span> </span></p>
                        <p>Wallet Address: <span> </span></p>
                        <p>Amount Claimed: <span> </span></p>
                        <p>Which Chain: <span> </span></p>
                        <p>Which Stablecoin: <span> </span></p>
                        <p>Which Pool: <span> </span></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>